<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/common.css" />

    <!-- <style>
      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }

      .header {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 20px 10px;
      }

      .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
      }
    </style> -->
  </head>

  <body>
    <div class="header">
      <div class="header-left">
        <a class="active" href="/">Home</a>
        <a href="/question">Question</a>
        <a href="/quiz">Quiz</a>
      </div>
    </div>

    <div>
      <h1 class="heading">HOME PAGE</h1>
    </div>
  </body>
</html>
